server {
    listen 80;
    listen [::]:80;
    server_name {{ goals_server_name }}{% for alias in goals_server_aliases | default([]) %} {{ alias }}{% endfor %};

    # Let's Encrypt HTTP-01 challenge (certbot --webroot)
    location /.well-known/acme-challenge/ {
        root {{ goals_certbot_webroot }};
        try_files $uri =404;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ goals_server_name }}{% for alias in goals_server_aliases | default([]) %} {{ alias }}{% endfor %};

    client_max_body_size {{ goals_client_max_body_size }};

    access_log /var/log/nginx/{{ goals_nginx_site_name }}.access.log;
    error_log /var/log/nginx/{{ goals_nginx_site_name }}.error.log;

    ssl_certificate /etc/letsencrypt/live/{{ goals_server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ goals_server_name }}/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;

    location /static/ {
        alias {{ goals_data_dir }}/static/;
        access_log off;
        expires 30d;
    }

    location /media/ {
        alias {{ goals_data_dir }}/media/;
    }

    location / {
        proxy_pass http://{{ goals_bind_ip }}:{{ goals_port }};
        proxy_redirect off;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
