server {
    listen 80;
    listen [::]:80;

    # Let's Encrypt HTTP-01 challenge (certbot --webroot)
    location /.well-known/acme-challenge/ {
        root {{ goals_certbot_webroot }};
        try_files $uri =404;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
